# Virtual Environment
venv/
venv_prod/
venv_test/
.env

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
logs/

# AI models
*.h5
*.pt
*.ckpt
*.model
*.onnx

# Node.js
/node_modules

# Build artifacts
/static/output.css

# Databases
*.db
data/chromadb/
data/test_chromadb/
*.sqlite3
*.bin

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store

# Redis
dump.rdb
